.sign-in
    //UPPER
    &__logo
        @extend %display_flex
        align-items: center
        position: absolute
        left: 0
        top: 0
        z-index: 1000
        background-color: white
        width: 100%
        padding: 15px 15px
        @include brk_lrg
            background-color: transparent
            width: auto
            padding: unset
            top: 5%
            left: 5%
    &__logo-box
        width: 40px
    &__logo-txt
        @extend %font-bold
        font-size: 25 / $root-font-size * 1rem
        margin-left: 10 / 25 * 1em
        color: $color-primary-dark
        @include brk_lrg
            color: white
    &__logo-circle
        background-color: $color-new-secondary-light
        width: 8px
        height: 8px
        border-radius: 100%
        margin-left: 5 / $default-font-size * 1em
        margin-top: 8 / $default-font-size * 1em
        @include animation(bounce 1.5s infinite forwards linear)
        @include transform_origin(center bottom)

    &__left
        width: 80%
        margin: auto
        @include brk_md
            width: auto
            margin: unset
    //LOWER
    &__description
        margin: 115 / $default-font-size * 1em auto 40 / $default-font-size * 1em auto
        max-width: 450px
        @include brk_lrg
            max-width: 630px
            margin: 0 0 40 / $default-font-size * 1em 40 / $default-font-size * 1em
    &__title
        font-size: 25 / $root-font-size * 1rem
        margin-bottom: 10 / 25 * 1em
        @extend %font-bold
        @include brk_lrg
            margin-top: 20 / 25 * 1em
    &__txt
        font-size: 16 / $root-font-size * 1rem
        line-height: 1.5
        @extend %font-semibold
    &__registration-txt
        text-align: center
        color: $form-darker
        @extend %font-bold
        margin-bottom: 20 / $default-font-size * 1em
    &__registration-link
        color: $color-primary-light
        &:hover
            color: $color-new-secondary
    &__banner
        @include brk_lrg
            background-image: url('/assets/imgs/login/login.jpg')
            height: 100%
            width: 45%
            position: absolute
            left: 0
            background-position: center
            background-repeat: no-repeat
            background-size: cover
        &--inner
            position: absolute
            width: 100%
            text-align: center
            bottom: 45px
            color: white
    &__email-does-not-exist,
    &__email-success
        padding: 12px 0
        text-align: center
        margin-bottom: 30px
        @extend %font-bold
        border-radius: 10px
        display: none
    &__email-does-not-exist
        background-color: #ffe9e9
        color: #ff3333
    &__email-success
        background-color: #ecffec
        color: #27bb27
    &__link
        color: white
        text-decoration: underline
        &:hover
            color: $color-new-secondary
    &__line
        width: 80%
        margin: 25 / $default-font-size * 1em auto
    &__bg
        background: rgb(127,42,255)
        background: linear-gradient(90deg, rgba(127,42,255,1) 0%, rgba(138,44,242,1) 8%, rgba(142,44,238,1) 16%, rgba(148,45,231,1) 23%, rgba(160,47,218,1) 31%, rgba(173,49,202,1) 44%, rgba(197,53,174,1) 61%, rgba(255,62,108,1) 100%)
        opacity: 0.4
        width: 100%
        height: 100%

    @include brk_lrg
        &__form-wrapper
            max-width: 550px
            margin: auto
            padding: 1px
        &__left
            width: 55%
            position: absolute
            right: 0
            justify-content: center
            align-items: center
            height: 100%
            &--inner
                width: 100%
                max-width: 750px
    &__resend-email-link
        color: inherit
        text-decoration: underline

.password-reset__banner
    @include brk_lrg
        background-image: url('/assets/imgs/login/password-reset.jpg')
        height: 100%
        width: 45%
        position: absolute
        left: 0
        background-position: center
        background-repeat: no-repeat
        background-size: cover
    &--inner
        position: absolute
        width: 100%
        text-align: center
        bottom: 45px
        color: white
.cs-margin-bottom
    margin-bottom: 80px
