.ghost--header__main-content__primary {
  font-weight: 900;
}

.ghost--header__main-content__title--top {
  font-weight: 800;
}

.heading--sign-up, .heading--secondary, .card--primary__title, .ghost--header__logo-txt, .bttn--primary--ghost, .bttn--primary {
  font-weight: 700;
}

.footer__link, .pricing-table--colored__bttn, .pricing-table--colored__list-txt, .pricing-table--colored__price, .pricing-table--colored__price-label, .pricing-table__bttn, .pricing-table__list-txt, .pricing-table__price, .pricing-table__price-label, .illustration__title, .ghost--header__main-content__bottom, .ghost--header__nav-link {
  font-weight: 600;
}

body {
  font-weight: 400;
}

.ghost--header__logo-link {
  display: -webkit-flex;
  display: flex;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

html,
body {
  min-width: 100%;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #190033;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@-webkit-keyframes staticRotate {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes staticRotate {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes bigRotate {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes bigRotate {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@-webkit-keyframes fading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes fading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes slantSlide {
  0% {
    transform: translate(-300px, 151px) rotate(0deg);
  }
  100% {
    transform: translate(251px, -200px) rotate(180deg);
  }
}
@keyframes slantSlide {
  0% {
    transform: translate(-300px, 151px) rotate(0deg);
  }
  100% {
    transform: translate(251px, -200px) rotate(180deg);
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
}
[class^=shape-] {
  position: absolute;
}

.shape-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  max-width: 600px;
}
@media only screen and (min-width: 20em) {
  .container {
    width: 90.625%;
    margin: auto;
  }
}
@media only screen and (min-width: 48em) {
  .container {
    width: 88.28125%;
    max-width: 1100px;
  }
}
@media only screen and (min-width: 64em) {
  .container {
    width: 90.8203125%;
  }
}
@media only screen and (min-width: 90em) {
  .container {
    width: 77.0833333333%;
    max-width: 1440px;
  }
}
.container .row {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
@media only screen and (min-width: 48em) {
  .container .col-md-1 {
    width: 12.9793510324%;
  }
  .container .col-md-2 {
    width: 30.383480826%;
  }
  .container .col-md-3 {
    width: 47.7876106195%;
  }
  .container .col-md-4 {
    width: 65.191740413%;
  }
  .container .col-md-5 {
    width: 82.5958702065%;
  }
  .container .col-md-6 {
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  .container .col-lrg-1 {
    width: 5.376344086%;
  }
  .container .col-lrg-2 {
    width: 13.9784946237%;
  }
  .container .col-lrg-3 {
    width: 22.5806451613%;
  }
  .container .col-lrg-4 {
    width: 31.1827956989%;
  }
  .container .col-lrg-5 {
    width: 39.7849462366%;
  }
  .container .col-lrg-6 {
    width: 48.3870967742%;
  }
  .container .col-lrg-7 {
    width: 56.9892473118%;
  }
  .container .col-lrg-8 {
    width: 65.5913978495%;
  }
  .container .col-lrg-9 {
    width: 74.1935483871%;
  }
  .container .col-lrg-10 {
    width: 82.7956989247%;
  }
  .container .col-lrg-11 {
    width: 91.3978494624%;
  }
  .container .col-lrg-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 90em) {
  .container .col-xlrg-1 {
    width: 5.8558558559%;
  }
  .container .col-xlrg-2 {
    width: 14.4144144144%;
  }
  .container .col-xlrg-3 {
    width: 22.972972973%;
  }
  .container .col-xlrg-4 {
    width: 31.5315315315%;
  }
  .container .col-xlrg-5 {
    width: 40.0900900901%;
  }
  .container .col-xlrg-6 {
    width: 48.6486486486%;
  }
  .container .col-xlrg-7 {
    width: 57.2072072072%;
  }
  .container .col-xlrg-8 {
    width: 65.7657657658%;
  }
  .container .col-xlrg-9 {
    width: 74.3243243243%;
  }
  .container .col-xlrg-10 {
    width: 82.8828828829%;
  }
  .container .col-xlrg-11 {
    width: 91.4414414414%;
  }
  .container .col-xlrg-12 {
    width: 100%;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
.container-fluid .row {
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.container-fluid [class^=col-sm-] {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.container-fluid .col-sm-1 {
  -webkit-flex-basis: 8.3333333333%;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}
.container-fluid .col-sm-2 {
  -webkit-flex-basis: 16.6666666667%;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}
.container-fluid .col-sm-3 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.container-fluid .col-sm-4 {
  -webkit-flex-basis: 33.3333333333%;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}
.container-fluid .col-sm-5 {
  -webkit-flex-basis: 41.6666666667%;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}
.container-fluid .col-sm-6 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.container-fluid .col-sm-7 {
  -webkit-flex-basis: 58.3333333333%;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}
.container-fluid .col-sm-8 {
  -webkit-flex-basis: 66.6666666667%;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}
.container-fluid .col-sm-9 {
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.container-fluid .col-sm-10 {
  -webkit-flex-basis: 83.3333333333%;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}
.container-fluid .col-sm-11 {
  -webkit-flex-basis: 91.6666666667%;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}
.container-fluid .col-sm-12 {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
@media only screen and (min-width: 48em) {
  .container-fluid [class^=col-md-] {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .container-fluid .col-md-1 {
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .container-fluid .col-md-2 {
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .container-fluid .col-md-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .container-fluid .col-md-4 {
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .container-fluid .col-md-5 {
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .container-fluid .col-md-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .container-fluid .col-md-7 {
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .container-fluid .col-md-8 {
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .container-fluid .col-md-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .container-fluid .col-md-10 {
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .container-fluid .col-md-11 {
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .container-fluid .col-md-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  .container-fluid [class^=col-lrg-] {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .container-fluid .col-lrg-1 {
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .container-fluid .col-lrg-2 {
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .container-fluid .col-lrg-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .container-fluid .col-lrg-4 {
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .container-fluid .col-lrg-5 {
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .container-fluid .col-lrg-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .container-fluid .col-lrg-7 {
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .container-fluid .col-lrg-8 {
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .container-fluid .col-lrg-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .container-fluid .col-lrg-10 {
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .container-fluid .col-lrg-11 {
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .container-fluid .col-lrg-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 90em) {
  .container-fluid [class^=col-xlrg-] {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .container-fluid .col-xlrg-1 {
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .container-fluid .col-xlrg-2 {
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .container-fluid .col-xlrg-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .container-fluid .col-xlrg-4 {
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .container-fluid .col-xlrg-5 {
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .container-fluid .col-xlrg-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .container-fluid .col-xlrg-7 {
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .container-fluid .col-xlrg-8 {
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .container-fluid .col-xlrg-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .container-fluid .col-xlrg-10 {
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .container-fluid .col-xlrg-11 {
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .container-fluid .col-xlrg-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

.offer {
  position: relative;
  margin-top: 5em;
}
@media only screen and (min-width: 48em) {
  .offer {
    margin-top: 2.1875em;
  }
}
.offer .shape-14 {
  top: 17%;
  left: 25%;
  -webkit-animation: bigRotate 30s infinite linear;
  animation: bigRotate 30s infinite linear;
}
.offer .shape-4 {
  top: 45%;
  left: 45%;
  -webkit-animation: bigRotate 35s alternate ifinite linear;
  animation: bigRotate 35s alternate ifinite linear;
}
.offer .shape-5 {
  bottom: 13%;
  left: 24%;
  -webkit-animation: bigRotate 35s infinite linear;
  animation: bigRotate 35s infinite linear;
}
.offer .shape-17 {
  bottom: -8%;
  left: 41%;
  -webkit-animation: bigRotate 25s infinite linear;
  animation: bigRotate 25s infinite linear;
}
.offer .shape-18 {
  right: 0;
  top: 21%;
}
.offer .shape-19 {
  right: 14%;
  bottom: 33%;
}

.pricing-table {
  position: relative;
}
.pricing-table .shape-16 {
  top: -105px;
}

.features {
  position: relative;
  margin-bottom: 5.3125em;
}
@media only screen and (min-width: 36.875em) {
  .features {
    margin-bottom: 3.75em;
  }
}
@media only screen and (min-width: 64em) {
  .features {
    margin-bottom: 4.6875em;
  }
}
.features .shape-19 {
  right: 0;
}

.bttn {
  background-color: white;
  border: none;
  cursor: pointer;
}

.bttn--primary {
  background-color: #7F2AFF;
  text-transform: capitalize;
  text-transform: uppercase;
  color: white;
  font-size: 1.8rem;
  padding: 0.5555555556em 1.1111111111em;
  border-radius: 5px;
  display: block;
  width: 165px;
  text-align: center;
}
@media only screen and (min-width: 64em) {
  .bttn--primary {
    font-size: 2rem;
    width: 185px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
@media only screen and (min-width: 90em) {
  .bttn--primary {
    font-size: 2.2rem;
  }
}
.bttn--primary--ghost {
  border: 1px solid #7F2AFF;
  color: #7F2AFF;
  text-transform: uppercase;
  padding: 0.2777777778em 0.8333333333em;
}
.bttn--primary--ghost:hover {
  background-color: #7F2AFF;
  color: white;
}
@media only screen and (min-width: 64em) {
  .bttn--primary--ghost {
    font-size: 1.1111111111rem;
  }
}
@media only screen and (min-width: 90em) {
  .bttn--primary--ghost {
    font-size: 1.2222222222rem;
  }
}

.ghost--header {
  color: #26004D;
  position: relative;
  padding: 3.125em 0;
}
.ghost--header__nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: transparent;
  z-index: 999;
}
.ghost--header__nav--active {
  height: 100%;
  overflow-y: scroll;
}
.ghost--header__nav__list-container {
  margin-top: 0.0625em;
  transition: max-height 0.8s cubic-bezier(0.65, 0, 0.35, 1);
  max-height: 0px;
  overflow: hidden;
  background-color: white;
}
@media only screen and (min-width: 48em) {
  .ghost--header__nav__list-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 95px;
    background-color: transparent;
    max-height: unset;
  }
}
@media only screen and (min-width: 64em) {
  .ghost--header__nav__list-container {
    margin-right: 110px;
  }
}
@media only screen and (min-width: 90em) {
  .ghost--header__nav__list-container {
    margin-right: 125px;
  }
}
.ghost--header__nav__list-item {
  margin-top: 0.3125em;
  margin-bottom: 0.3125em;
}
.ghost--header__nav__list-item:hover > a {
  background-color: #F8F5FF;
}
.ghost--header__nav-link {
  color: #26004D;
  display: block;
  text-align: center;
  text-transform: capitalize;
  padding: 0.625em 0;
  font-size: 2rem;
}
@media only screen and (min-width: 48em) {
  .ghost--header__nav-link {
    padding-left: 0.625em;
    padding-right: 0.625em;
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 64em) {
  .ghost--header__nav-link {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 90em) {
  .ghost--header__nav-link {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 48em) {
  .ghost--header__nav-flex {
    position: relative;
    display: -webkit-flex;
    display: flex;
    align-items: center;
  }
}
.ghost--header__nav-top {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 0.625em;
}
@media only screen and (min-width: 26.875em) {
  .ghost--header__nav-top {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}
.ghost--header__nav-left {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
@media only screen and (min-width: 26.875em) {
  .ghost--header__nav-left {
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}
.ghost--header__logo-box {
  width: 40px;
}
.ghost--header__logo-link {
  align-items: center;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.ghost--header__logo-link:active, .ghost--header__logo-link:focus, .ghost--header__logo-link:visited {
  color: #26004D;
}
.ghost--header__logo-circle {
  width: 8px;
  height: 8px;
  background-color: #7F2AFF;
  border-radius: 100%;
  margin-top: 8px;
}
.ghost--header__logo-txt {
  font-size: 2rem;
  margin-left: 8px;
  margin-right: 5px;
  color: #26004D;
}
@media only screen and (min-width: 26.875em) {
  .ghost--header__signup-bttn {
    margin-left: 0.9375em;
    margin-right: 0.9375em;
  }
}
@media only screen and (min-width: 48em) {
  .ghost--header__signup-bttn {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 0;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 64em) {
  .ghost--header__signup-bttn {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 90em) {
  .ghost--header__signup-bttn {
    font-size: 2rem;
  }
}
.ghost--header__hamburger-bttn {
  width: 45px;
  height: 50px;
}
@media only screen and (min-width: 48em) {
  .ghost--header__hamburger-bttn {
    display: none;
  }
}
.ghost--header__hamburger-bttn:hover {
  background-color: #F8F5FF;
}
.ghost--header__hamburger-bttn__line {
  transition: all 0.4s ease-in-out;
  background-color: #26004D;
  width: 100%;
  height: 3px;
  border-radius: 15px;
  position: relative;
  display: block;
}
.ghost--header__hamburger-bttn__line::before, .ghost--header__hamburger-bttn__line::after {
  transition: all 0.4s ease-in-out;
  content: "";
  width: 50%;
  height: 3px;
  border-radius: 15px;
  position: absolute;
  background-color: #26004D;
}
.ghost--header__hamburger-bttn__line::before {
  top: -12px;
  right: 0;
}
.ghost--header__hamburger-bttn__line::after {
  top: 12px;
  left: 0;
}
.ghost--header__main-content {
  margin-top: 4.375em;
}
.ghost--header__main-content__title--top, .ghost--header__main-content__primary {
  text-transform: uppercase;
}
.ghost--header__main-content--left {
  padding-top: 0;
}
@media only screen and (min-width: 48em) {
  .ghost--header__main-content--left {
    padding-top: 1.875em;
  }
}
.ghost--header__main-content__title--top {
  font-size: 1.6rem;
}
.ghost--header__main-content__title--top__sub {
  color: #7F2AFF;
}
@media only screen and (min-width: 48em) {
  .ghost--header__main-content__title--top {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 90em) {
  .ghost--header__main-content__title--top {
    font-size: 1.8rem;
  }
}
.ghost--header__main-content__primary {
  font-size: 2.5rem;
  margin: 0.625em 0;
  position: relative;
}
@media only screen and (min-width: 48em) {
  .ghost--header__main-content__primary {
    font-size: 2.5rem;
    line-height: 1.8;
  }
  .ghost--header__main-content__primary--sub::before, .ghost--header__main-content__primary::before {
    content: "";
    max-width: 390px;
    min-width: 360px;
    height: 15px;
    position: absolute;
    background-color: #474DFF;
    z-index: -1;
    opacity: 0.1;
    left: -8px;
  }
  .ghost--header__main-content__primary::before {
    bottom: 58%;
    width: 100%;
  }
  .ghost--header__main-content__primary--sub::before {
    display: block;
    bottom: 8%;
    width: 65%;
  }
}
@media only screen and (min-width: 64em) {
  .ghost--header__main-content__primary {
    font-size: 3.125rem;
  }
  .ghost--header__main-content__primary--sub::before, .ghost--header__main-content__primary::before {
    height: 20px;
    max-width: unset;
    min-width: unset;
  }
}
@media only screen and (min-width: 90em) {
  .ghost--header__main-content__primary {
    font-size: 3.906rem;
  }
  .ghost--header__main-content__primary--sub::before, .ghost--header__main-content__primary::before {
    left: 0;
  }
}
.ghost--header__main-content__bottom {
  font-size: 1.6rem;
  color: #6C7A89;
}
@media only screen and (min-width: 48em) {
  .ghost--header__main-content__bottom {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 64em) {
  .ghost--header__main-content__bottom {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 90em) {
  .ghost--header__main-content__bottom {
    font-size: 1.8rem;
  }
}
.ghost--header__main-content__bttn {
  margin-top: 1.875em;
  margin-bottom: 1.5625em;
}
.ghost--header__main-content__img-box {
  width: 80%;
  max-width: 350px;
  margin: 1.875em auto 0 auto;
  box-shadow: 0px 7px 100px rgba(227, 210, 243, 0.7);
  padding-top: 0.9375em;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  -webkit-animation: floating 10s alternate infinite linear;
  animation: floating 10s alternate infinite linear;
}
@media only screen and (min-width: 48em) {
  .ghost--header__main-content__img-box {
    margin-top: 1.875em;
  }
}
.ghost--header .shape-1 {
  width: 70%;
  top: 30px;
  right: 0;
  -webkit-animation: fading 1s infinite linear;
  animation: fading 1s infinite linear;
}
.ghost--header .shape-2, .ghost--header .shape-3 {
  top: 0;
  z-index: -1;
}
.ghost--header .shape-2 {
  width: 60%;
  right: 0;
}
.ghost--header .shape-3 {
  width: 40%;
}
.ghost--header .shape-4 {
  top: 11%;
  left: 24%;
  -webkit-animation: staticRotate 20s infinite linear;
  animation: staticRotate 20s infinite linear;
}
.ghost--header .shape-5 {
  left: 40%;
  top: 13%;
  -webkit-animation: bigRotate 25s infinite linear;
  animation: bigRotate 25s infinite linear;
}
.ghost--header .shape-6 {
  right: 20%;
  top: 18%;
  -webkit-animation: bigRotate 30s alternate infinite linear;
  animation: bigRotate 30s alternate infinite linear;
}
.ghost--header .shape-7 {
  right: 11%;
  top: 23%;
  -webkit-animation: slantSlide 25s alternate infinite linear;
  animation: slantSlide 25s alternate infinite linear;
}
.ghost--header .shape-8 {
  right: 40%;
  top: 36%;
  -webkit-animation: staticRotate 15s infinite linear;
  animation: staticRotate 15s infinite linear;
}
.ghost--header .shape-9 {
  right: 3%;
  bottom: 11%;
  -webkit-animation: bigRotate 25s infinite linear;
  animation: bigRotate 25s infinite linear;
}
.ghost--header .shape-10 {
  right: 19%;
  top: 14%;
  -webkit-animation: bigRotate 30s infinite linear;
  animation: bigRotate 30s infinite linear;
}
.ghost--header .shape-11 {
  right: 55%;
  bottom: 0;
  -webkit-animation: staticRotate 12s infinite linear;
  animation: staticRotate 12s infinite linear;
}
.ghost--header .shape-12 {
  right: 27%;
  bottom: 16%;
  -webkit-animation: staticRotate 14s infinite linear;
  animation: staticRotate 14s infinite linear;
}
.ghost--header .shape-13 {
  left: 15%;
  bottom: 26%;
  -webkit-animation: bigRotate 25s infinite linear;
  animation: bigRotate 25s infinite linear;
}
.ghost--header .shape-14 {
  left: 4%;
  top: 50%;
  -webkit-animation: staticRotate 14s infinite linear;
  animation: staticRotate 14s infinite linear;
}

.hamburger-bttn--active > span {
  background-color: transparent;
}
.hamburger-bttn--active > span::before {
  width: 100%;
  top: 0;
  -webkit-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  transform: rotate(405deg);
}
.hamburger-bttn--active > span::after {
  width: 100%;
  top: 0;
  -webkit-transform: rotate(-405deg);
  -ms-transform: rotate(-405deg);
  transform: rotate(-405deg);
}

.collapse--active {
  max-height: 1500px;
}
@media only screen and (min-width: 48em) {
  .collapse--active {
    max-height: unset;
  }
}

.link--active {
  color: #7F2AFF;
}

.illustration__card {
  border-radius: 15px;
  margin: 1.25em 0;
  padding: 1.25em;
}
.illustration__card--color-1 {
  background-color: #f4f4ff;
}
.illustration__card--color-2 {
  background-color: #fff7f7;
}
@media only screen and (min-width: 64em) {
  .illustration__card--color-2 .illustration__description {
    order: -1;
  }
}
@media only screen and (min-width: 64em) {
  .illustration__card {
    display: -webkit-flex;
    display: flex;
    align-items: center;
  }
}
.illustration__description {
  margin: 0 2.1875em;
}
.illustration__img-box {
  width: 230px;
}
@media only screen and (min-width: 64em) {
  .illustration__img-box {
    width: 600px;
    margin-right: 50px;
  }
}
.illustration__title {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 5px;
}
@media only screen and (min-width: 48em) {
  .illustration__title {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 64em) {
  .illustration__title {
    font-size: 35px;
  }
}
.illustration__txt {
  font-size: 1.4rem;
}
@media only screen and (min-width: 48em) {
  .illustration__txt {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 64em) {
  .illustration__txt {
    font-size: 1.6rem;
    width: 80%;
  }
}

.card--primary__container {
  margin: 2.1875em 0;
  background-color: #f9f9f9;
  padding: 1.5625em 1.25em;
  border-radius: 20px;
  box-shadow: 0px 10px 15px 5px rgba(223, 227, 234, 0.3);
  background-color: white;
}
.card--primary__img-box {
  width: 60px;
}
.card--primary__title {
  color: #190033;
  text-transform: uppercase;
  margin-top: 0.625em;
  margin-bottom: 0.625em;
  font-size: 1.8rem;
}
.card--primary__txt {
  color: #6C7A89;
}

.heading--secondary {
  color: #190033;
  text-transform: uppercase;
  font-size: 3.125rem;
}
@media only screen and (min-width: 64em) {
  .heading--secondary {
    font-size: 3.906rem;
  }
}

.heading--sign-up {
  font-size: 2.5rem;
  margin: 1.3888888889em 0;
  text-transform: uppercase;
  text-align: center;
}

.paragraph--heading {
  color: #6C7A89;
  font-size: 1.6rem;
}
@media only screen and (min-width: 64em) {
  .paragraph--heading {
    font-size: 2rem;
  }
}

.pricing-table__title {
  margin: 5em 0 1.875em 0;
  text-align: center;
}
.pricing-table__wrapper {
  align-items: center;
}
.pricing-table__card-wrapper {
  background-color: #F8FFFF;
  border-radius: 20px;
  padding: 1.25em;
  border: 2px solid rgba(112, 112, 112, 0.07);
}
.pricing-table__price-label {
  background-color: #5AE2E2;
  color: white;
  text-transform: uppercase;
  width: 90px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  padding: 0.3125em 0;
  margin: 0.625em auto;
}
.pricing-table__top {
  border-bottom: 2px solid rgba(112, 112, 112, 0.07);
}
.pricing-table__price {
  color: #FF014E;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 0.9375em;
}
.pricing-table__list {
  display: -webkit-flex;
  display: flex;
  margin: 0.625em;
}
.pricing-table__icon {
  min-width: 15px;
  max-width: 15px;
  display: block;
  margin-right: 0.625em;
}
.pricing-table__list-txt {
  color: #6A7487;
  font-size: 1.4rem;
}
.pricing-table__bttn {
  background-color: transparent;
  border: 2px solid #474DFF;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  width: 130px;
  padding: 0.5625em 0;
  color: #474DFF;
  border-radius: 20px;
  margin: auto;
  margin-top: 1.5625em;
}
.pricing-table__bttn:hover {
  background-color: #474DFF;
  color: white;
}

.pricing-table--colored--checked {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  top: 0;
  right: 0;
  border-radius: 0 0 0 40px;
  background-image: url("/assets/svgs/icons/Fat Check-white.svg");
  background-repeat: no-repeat;
  background-position: 18px 10px;
}
.pricing-table--colored__card-wrapper {
  background-color: #474DFF;
  border-radius: 20px;
  padding: 1.25em;
  margin-top: 1.5625em;
  margin-bottom: 1.5625em;
  position: relative;
}
.pricing-table--colored__price-label {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  text-transform: uppercase;
  width: 130px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  padding: 0.3125em 0;
  margin: 0.625em auto;
}
.pricing-table--colored__top {
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  border-bottom-style: dashed;
}
.pricing-table--colored__price {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 0.9375em;
}
.pricing-table--colored__list {
  display: -webkit-flex;
  display: flex;
  margin: 0.625em;
}
.pricing-table--colored__icon {
  min-width: 15px;
  max-width: 15px;
  display: block;
  margin-right: 0.625em;
}
.pricing-table--colored__list-txt {
  color: white;
  font-size: 1.4rem;
}
.pricing-table--colored__bttn {
  background-color: white;
  border: 2px solid white;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  width: 130px;
  padding: 0.5625em 0;
  color: #474DFF;
  border-radius: 20px;
  margin: auto;
  margin-top: 1.5625em;
}
.pricing-table--colored__bttn:hover {
  background-color: #474DFF;
  color: white;
}

.table--scaled {
  -webkit-transform: scaleY(1.1);
  -ms-transform: scaleY(1.1);
  transform: scaleY(1.1);
  backface-visibility: inherit;
}

.footer {
  background-color: #f1eef5;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0.625em 0;
}
@media only screen and (min-width: 48em) {
  .footer {
    padding: 0.9375em 0;
  }
}
@media only screen and (min-width: 64em) {
  .footer {
    padding: 1.125em 0;
  }
}
@media only screen and (min-width: 64em) {
  .footer {
    padding: 1.25em 0;
  }
}
.footer__link {
  color: #6A7487;
  font-size: 1.4rem;
  margin: 0 0.9375em;
}
@media only screen and (min-width: 48em) {
  .footer__link {
    margin-top: 0;
  }
}
.footer__link:hover {
  color: #7F2AFF;
}
.footer__mssg {
  margin-top: 0.625em;
}
@media only screen and (min-width: 31.25em) {
  .footer__mssg {
    margin-top: 0;
  }
}

.img-fluid {
  width: 100%;
}

.mt-1 {
  margin-top: 0.625em;
}

.mt-2 {
  margin-top: 1.25em;
}

.mt-3 {
  margin-top: 1.875em;
}

.mt-4 {
  margin-top: 2.5em;
}

.mt-5 {
  margin-top: 3.125em;
}

.mb-1 {
  margin-bottom: 0.625em;
}

.mb-2 {
  margin-bottom: 1.25em;
}

.mb-3 {
  margin-bottom: 1.875em;
}

.mb-4 {
  margin-bottom: 2.5em;
}

.mb-5 {
  margin-bottom: 3.125em;
}

.sm-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 48em) {
  .sm-mx-auto {
    margin-right: unset;
    margin-left: unset;
  }
}

.sm-md-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 64em) {
  .sm-md-mx-auto {
    margin-right: unset;
    margin-left: unset;
  }
}

.ny-auto-margin {
  margin: 0 auto;
}

.pt-1 {
  padding-top: 0.625em;
}

.pt-2 {
  padding-top: 1.25em;
}

.pt-3 {
  padding-top: 1.875em;
}

.pt-4 {
  padding-top: 2.5em;
}

.pt-5 {
  padding-top: 3.125em;
}

.pb-1 {
  padding-bottom: 0.625em;
}

.pb-2 {
  padding-bottom: 1.25em;
}

.pb-3 {
  padding-bottom: 1.875em;
}

.pb-4 {
  padding-bottom: 2.5em;
}

.pb-5 {
  padding-bottom: 3.125em;
}

.txt-align-c {
  text-align: center;
}

.txt-align-r {
  text-align: right;
}

.txt-align-l {
  text-align: left;
}

.d-flex {
  display: flex;
}

.flex-flow-column {
  flex-flow: column;
}

.justify-content-c {
  justify-content: center;
}

.flow-row-reverse {
  flex-flow: row-reverse;
}

@media only screen and (min-width: 20em) {
  .sm-flex-grow-1 {
    flex-grow: 1;
  }
}
@media only screen and (min-width: 48em) {
  .md-f-order-first {
    order: -1;
  }

  .sm-flex-grow-1 {
    flex-grow: 0;
  }

  .md-flex-grow-1 {
    flex-grow: 1;
  }
}
@media only screen and (min-width: 64em) {
  .md-flex-grow-1 {
    flex-grow: 0;
  }

  .md-f-order-first {
    order: 0;
  }

  .d-only-lrg-flex {
    display: flex;
  }
}

/*# sourceMappingURL=landing.style.css.map */
