$txt-primary: #0D0417
$txt-secondary: #7A7A7A

$color-primary-light: #474DFF
$color-primary: #7F2AFF
$color-primary-dark: #26004D
$color-primary-darker: #190033

$color-bg-light: #D6FBFF
$color-hover: #F8F5FF
$color-footer: #f1eef5

$pricing-table-label-color: #5AE2E2
$pricing-table-white: #F8FFFF
$pricing-table-white-border: rgba(112,112,112,.07)
$pricing-table-list-color: #6A7487
$pricing-table-price-color: #FF014E

$illustration-card-color-1: #f4f4ff
$illustration-card-color-2: #fff7f7
