$txt-primary: #0D0417
$txt-secondary: #6C7A89

$color-warning: #ff5656
$color-warning-bg: #ffebeb
$color-warning-bg-h: #ffe0e0

$color-primary-xlighter: #f2f2ff
$color-primary-lighter: #6772f8
$color-primary-light: #474DFF
$color-primary: #7F2AFF
$color-primary-dark: #26004D
$color-primary-darker: #190033
$color-primary-hover: #6312dc

$color-primary-outline: rgba(103,114,248,.35)


$color-new-secondary: #ff3e6c



$color-secondary-light: #ebf5ff
$color-secondary: #03a9f4
$color-secondary-dark: #2c95ff
$color-secondary-hover-d: #0178f1
$color-primary-xlighter-h: #e3e3fd

$primary-bttn-color: #3A186C
$primary-bttn-color-light: #4C2586


$color-bg-light: #D6FBFF
$color-hover: #F8F5FF
$color-footer: #f1eef5

$pricing-table-label-color: #5AE2E2
$pricing-table-white: #F8FFFF
$pricing-table-white-border: rgba(112,112,112,.07)
$pricing-table-list-color: #6A7487
$pricing-table-price-color: #FF014E

$illustration-card-color-1: #f4f4ff
$illustration-card-color-2: #fff7f7

$form-bg-hover: #fbfbfb
$form-bg: #FCFEFF
$form-border: #F2F2F2
$form-color: #848484

$form-dark: #d4d4d4
$form-darker: #a0a0a0

$form-border: #e8e8e8
$form-border-darker: #c5c5c5

$card--choice-border: #d5dee2
$card--choice-txt: #cecece


$body-color: #F6F6F6
