.sidebar--fixed .sidebar__icon-txt, .form--secondary__title, .logo__txt, .logo__txt--d {
  font-weight: 800;
}

.schedule__inactive-txt, .schedule__lbl, .classroom-settings__unable-txt, .classroom-settings__save-bttn, .classroom-settings__reset-bttn, .classroom-settings__error-list, .time-wrapper input, label, .form--secondary__success-txt, .form--secondary__schedule-bttn, .form--secondary__schedule-bttn--removed, .form--secondary__bttn, .form--secondary__group select, .form--secondary__group input,
.form--secondary__group textarea, .navbar__notif-date, .navbar__mssg-date, .navbar__notif-info, .navbar__mssg-info, .navbar__notif-title, .navbar__mssg-title, .navbar__profile-box__name, .breadcrumbs, .switch__note, .switch__name {
  font-weight: 700;
}

.schedule__default-sched, .schedule__txt, .form--secondary__close-panel, .form--secondary__warning-code, .form--secondary__warning-txt, .form--search__input, .navbar__notif-option-item, .navbar__icon-txt {
  font-weight: 600;
}

body {
  font-weight: 400;
}

.classroom__links-container, .schedule--active, .schedule__inactive-img, .schedule__inactive-wrapper, .schedule__form-group, .sidebar--fixed .sidebar__top, .sidebar--fixed .sidebar__bttn, .classroom-settings__schedule-bttn-controls, .classroom-settings__bttn-box, .form--secondary__schedule-wrapper, .navbar__notif-item-link, .navbar__notif-illustration, .navbar__notif-description, .navbar__mssg-item-link, .navbar__mssg-description, .navbar__icon-ctr, .navbar__profile-link, .navbar__profile-box, .navbar--right, .navbar--mid, .navbar--left, .navbar__inner, .breadcrumbs, .switch__main, .logo {
  display: -webkit-flex;
  display: flex;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

html,
body {
  min-width: 100%;
  overflow-x: hidden;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #190033;
  background-color: #F6F6F6;
  position: relative;
  padding: 0.1px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@-webkit-keyframes jelly {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes jelly {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@-webkit-keyframes jellyOut {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    -webkit-transform: matrix3d(0.55, 0, 0, 0, 0, 0.55, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.55, 0, 0, 0, 0, 0.55, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.55, 0, 0, 0, 0, 0.55, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    -webkit-transform: matrix3d(0.117, 0, 0, 0, 0, 0.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.117, 0, 0, 0, 0, 0.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.117, 0, 0, 0, 0, 0.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    -webkit-transform: matrix3d(-0.141, 0, 0, 0, 0, -0.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(-0.141, 0, 0, 0, 0, -0.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.141, 0, 0, 0, 0, -0.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    -webkit-transform: matrix3d(-0.212, 0, 0, 0, 0, -0.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(-0.212, 0, 0, 0, 0, -0.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.212, 0, 0, 0, 0, -0.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    -webkit-transform: matrix3d(-0.151, 0, 0, 0, 0, -0.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(-0.151, 0, 0, 0, 0, -0.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.151, 0, 0, 0, 0, -0.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    -webkit-transform: matrix3d(-0.048, 0, 0, 0, 0, -0.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(-0.048, 0, 0, 0, 0, -0.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.048, 0, 0, 0, 0, -0.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    -webkit-transform: matrix3d(0.021, 0, 0, 0, 0, 0.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.021, 0, 0, 0, 0, 0.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.021, 0, 0, 0, 0, 0.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    -webkit-transform: matrix3d(0.039, 0, 0, 0, 0, 0.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.039, 0, 0, 0, 0, 0.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.039, 0, 0, 0, 0, 0.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    -webkit-transform: matrix3d(0.009, 0, 0, 0, 0, 0.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.009, 0, 0, 0, 0, 0.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.009, 0, 0, 0, 0, 0.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    -webkit-transform: matrix3d(-0.007, 0, 0, 0, 0, -0.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(-0.007, 0, 0, 0, 0, -0.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.007, 0, 0, 0, 0, -0.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    -webkit-transform: matrix3d(0.001, 0, 0, 0, 0, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.001, 0, 0, 0, 0, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.001, 0, 0, 0, 0, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes jellyOut {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    -webkit-transform: matrix3d(0.55, 0, 0, 0, 0, 0.55, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.55, 0, 0, 0, 0, 0.55, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.55, 0, 0, 0, 0, 0.55, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    -webkit-transform: matrix3d(0.117, 0, 0, 0, 0, 0.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.117, 0, 0, 0, 0, 0.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.117, 0, 0, 0, 0, 0.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    -webkit-transform: matrix3d(-0.141, 0, 0, 0, 0, -0.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(-0.141, 0, 0, 0, 0, -0.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.141, 0, 0, 0, 0, -0.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    -webkit-transform: matrix3d(-0.212, 0, 0, 0, 0, -0.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(-0.212, 0, 0, 0, 0, -0.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.212, 0, 0, 0, 0, -0.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    -webkit-transform: matrix3d(-0.151, 0, 0, 0, 0, -0.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(-0.151, 0, 0, 0, 0, -0.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.151, 0, 0, 0, 0, -0.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    -webkit-transform: matrix3d(-0.048, 0, 0, 0, 0, -0.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(-0.048, 0, 0, 0, 0, -0.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.048, 0, 0, 0, 0, -0.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    -webkit-transform: matrix3d(0.021, 0, 0, 0, 0, 0.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.021, 0, 0, 0, 0, 0.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.021, 0, 0, 0, 0, 0.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    -webkit-transform: matrix3d(0.039, 0, 0, 0, 0, 0.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.039, 0, 0, 0, 0, 0.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.039, 0, 0, 0, 0, 0.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    -webkit-transform: matrix3d(0.009, 0, 0, 0, 0, 0.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.009, 0, 0, 0, 0, 0.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.009, 0, 0, 0, 0, 0.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    -webkit-transform: matrix3d(-0.007, 0, 0, 0, 0, -0.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(-0.007, 0, 0, 0, 0, -0.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.007, 0, 0, 0, 0, -0.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    -webkit-transform: matrix3d(0.001, 0, 0, 0, 0, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0.001, 0, 0, 0, 0, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.001, 0, 0, 0, 0, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.container {
  width: 100%;
  max-width: 600px;
}
@media only screen and (min-width: 20em) {
  .container {
    width: 90.625%;
    margin: auto;
  }
}
@media only screen and (min-width: 48em) {
  .container {
    width: 88.28125%;
    max-width: 1100px;
  }
}
@media only screen and (min-width: 64em) {
  .container {
    width: 90.8203125%;
  }
}
@media only screen and (min-width: 90em) {
  .container {
    width: 77.0833333333%;
    max-width: 1440px;
  }
}
.container .row {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
@media only screen and (min-width: 48em) {
  .container .col-md-1 {
    width: 12.9793510324%;
  }
  .container .col-md-2 {
    width: 30.383480826%;
  }
  .container .col-md-3 {
    width: 47.7876106195%;
  }
  .container .col-md-4 {
    width: 65.191740413%;
  }
  .container .col-md-5 {
    width: 82.5958702065%;
  }
  .container .col-md-6 {
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  .container .col-lrg-1 {
    width: 5.376344086%;
  }
  .container .col-lrg-2 {
    width: 13.9784946237%;
  }
  .container .col-lrg-3 {
    width: 22.5806451613%;
  }
  .container .col-lrg-4 {
    width: 31.1827956989%;
  }
  .container .col-lrg-5 {
    width: 39.7849462366%;
  }
  .container .col-lrg-6 {
    width: 48.3870967742%;
  }
  .container .col-lrg-7 {
    width: 56.9892473118%;
  }
  .container .col-lrg-8 {
    width: 65.5913978495%;
  }
  .container .col-lrg-9 {
    width: 74.1935483871%;
  }
  .container .col-lrg-10 {
    width: 82.7956989247%;
  }
  .container .col-lrg-11 {
    width: 91.3978494624%;
  }
  .container .col-lrg-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 90em) {
  .container .col-xlrg-1 {
    width: 5.8558558559%;
  }
  .container .col-xlrg-2 {
    width: 14.4144144144%;
  }
  .container .col-xlrg-3 {
    width: 22.972972973%;
  }
  .container .col-xlrg-4 {
    width: 31.5315315315%;
  }
  .container .col-xlrg-5 {
    width: 40.0900900901%;
  }
  .container .col-xlrg-6 {
    width: 48.6486486486%;
  }
  .container .col-xlrg-7 {
    width: 57.2072072072%;
  }
  .container .col-xlrg-8 {
    width: 65.7657657658%;
  }
  .container .col-xlrg-9 {
    width: 74.3243243243%;
  }
  .container .col-xlrg-10 {
    width: 82.8828828829%;
  }
  .container .col-xlrg-11 {
    width: 91.4414414414%;
  }
  .container .col-xlrg-12 {
    width: 100%;
  }
}

.container-fluid .row {
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.container-fluid .col-sm-1 {
  -webkit-flex-basis: 8.3333333333%;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}
.container-fluid .col-sm-2 {
  -webkit-flex-basis: 16.6666666667%;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}
.container-fluid .col-sm-3 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.container-fluid .col-sm-4 {
  -webkit-flex-basis: 33.3333333333%;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}
.container-fluid .col-sm-5 {
  -webkit-flex-basis: 41.6666666667%;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}
.container-fluid .col-sm-6 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.container-fluid .col-sm-7 {
  -webkit-flex-basis: 58.3333333333%;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}
.container-fluid .col-sm-8 {
  -webkit-flex-basis: 66.6666666667%;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}
.container-fluid .col-sm-9 {
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.container-fluid .col-sm-10 {
  -webkit-flex-basis: 83.3333333333%;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}
.container-fluid .col-sm-11 {
  -webkit-flex-basis: 91.6666666667%;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}
.container-fluid .col-sm-12 {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
@media only screen and (min-width: 48em) {
  .container-fluid [class^=col-md-] {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
  .container-fluid .col-md-1 {
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .container-fluid .col-md-2 {
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .container-fluid .col-md-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .container-fluid .col-md-4 {
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .container-fluid .col-md-5 {
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .container-fluid .col-md-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .container-fluid .col-md-7 {
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .container-fluid .col-md-8 {
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .container-fluid .col-md-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .container-fluid .col-md-10 {
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .container-fluid .col-md-11 {
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .container-fluid .col-md-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  .container-fluid [class^=col-lrg-] {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
  .container-fluid .col-lrg-1 {
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .container-fluid .col-lrg-2 {
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .container-fluid .col-lrg-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .container-fluid .col-lrg-4 {
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .container-fluid .col-lrg-5 {
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .container-fluid .col-lrg-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .container-fluid .col-lrg-7 {
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .container-fluid .col-lrg-8 {
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .container-fluid .col-lrg-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .container-fluid .col-lrg-10 {
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .container-fluid .col-lrg-11 {
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .container-fluid .col-lrg-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 90em) {
  .container-fluid [class^=col-xlrg-] {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
  .container-fluid .col-xlrg-1 {
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .container-fluid .col-xlrg-2 {
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .container-fluid .col-xlrg-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .container-fluid .col-xlrg-4 {
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .container-fluid .col-xlrg-5 {
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .container-fluid .col-xlrg-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .container-fluid .col-xlrg-7 {
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .container-fluid .col-xlrg-8 {
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .container-fluid .col-xlrg-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .container-fluid .col-xlrg-10 {
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .container-fluid .col-xlrg-11 {
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .container-fluid .col-xlrg-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

.container--main {
  position: relative;
  margin: auto;
  width: 90%;
  padding: 0.1px;
}
@media only screen and (min-width: 64em) {
  .container--main {
    max-width: 1250px;
  }
}
.container--main::before {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.main-content {
  background-color: inherit;
  width: 100%;
  margin-top: 104px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 64em) {
  .main-content {
    width: 82%;
    float: right;
  }
}
@media only screen and (min-width: 71.875em) {
  .main-content {
    width: 84%;
  }
}
@media only screen and (min-width: 85em) {
  .main-content {
    width: 86%;
  }
}
@media only screen and (min-width: 90em) {
  .main-content {
    width: 90%;
  }
}
@media only screen and (min-width: 103.75em) {
  .main-content {
    width: 100%;
    float: unset;
  }
}

@media only screen and (min-width: 64em) {
  .main-content--md {
    width: 90%;
  }
}
@media only screen and (min-width: 95.625em) {
  .main-content--md {
    width: 100%;
    float: unset;
  }
}

.bttn {
  background-color: white;
  border: none;
  cursor: pointer;
}

.logo {
  align-items: center;
}
.logo__box {
  width: 40px;
}
.logo__box--s {
  width: 25px;
}
.logo__txt, .logo__txt--d {
  font-size: 2.5rem;
  margin-left: 0.4em;
}
.logo__txt {
  color: white;
}
.logo__txt--s {
  font-size: 1.8rem;
}
.logo__txt--d {
  color: #26004D;
}
.logo__circle, .logo__circle--d, .logo__circle--p {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-left: 0.3125em;
  margin-top: 0.5em;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.logo__circle {
  background-color: #ffa7e5;
}
.logo__circle--p {
  background-color: #7F2AFF;
}
.logo__circle--d {
  background-color: #26004D;
}
.logo__circle--s {
  margin-top: 0.375em;
}

.switch {
  padding: 10px;
  margin-bottom: 15px;
}
.switch:last-of-type {
  margin-bottom: 0;
}
.switch__main {
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.switch__main:hover .switch__name {
  color: #373a4a;
}
.switch__main:hover .switch__bttn {
  background-color: #e0e5f5;
}
.switch__main:hover .switch__bttn::before {
  background-color: #a1a7c5;
}
.switch__bttn {
  background-color: #ecf0ff;
  height: 20px;
  width: 60px;
  border-radius: 17px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
.switch__bttn::before {
  content: "";
  position: absolute;
  background-color: #B2B7D4;
  width: 22px;
  height: 100%;
  border-radius: 100%;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  right: 0;
  transition: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
.switch__name {
  margin-left: 10px;
  color: #6c718c;
  font-size: 14px;
  width: 100%;
  max-width: 150px;
}
@media only screen and (min-width: 24.375em) {
  .switch__name {
    max-width: unset;
  }
}
@media only screen and (min-width: 48em) {
  .switch__name {
    font-size: 16px;
  }
}
.switch__note {
  margin-top: 10px;
  font-size: 14px;
  color: #5d606d;
  display: none;
}

.switch--active .switch__bttn {
  background-color: #f3ebff;
}
.switch--active .switch__bttn::before {
  background-color: #7F2AFF;
  box-shadow: 0 0 5px 2px rgba(132, 50, 255, 0.25);
  right: 60%;
}
.switch--active:hover .switch__bttn {
  background-color: #f3ebff;
}
.switch--active:hover .switch__bttn::before {
  background-color: #7F2AFF;
  box-shadow: 0 0 2px 2px rgba(132, 50, 255, 0.25);
}

.switch-1 {
  width: 310px;
}

.switch-2 {
  width: 295px;
}

.switch-3 {
  width: 275px;
}

.switch-4 {
  width: 270px;
}

.breadcrumbs {
  color: #0D0417;
  line-height: 1.5;
  font-size: 14px;
  word-break: break-word;
}
.breadcrumbs__link {
  color: #7F2AFF;
}
.breadcrumbs__link:hover {
  text-decoration: underline;
}
.breadcrumbs__arrow {
  margin: 0 10px;
  min-width: 6px;
}

.navbar {
  background-color: white;
  padding: 1.125em 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.navbar--left {
  -webkit-align-items: center;
  align-items: center;
}
.navbar--left, .navbar--mid {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.navbar__hamburger-bttn-box {
  margin-right: 0.625em;
  width: 42px;
  padding: 0.625em 0.625em 0.3125em 0.625em;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}
.navbar__hamburger-bttn-box:hover {
  background-color: #f9f9f9;
}
.navbar__logo-link {
  display: block;
  width: 110px;
}
.navbar--mid {
  position: relative;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
@media only screen and (min-width: 50.625em) {
  .navbar--mid {
    flex-grow: 2;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.navbar--mid__form-wrapper {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 100px;
  margin: auto;
  background-color: white;
  padding: 10px;
  width: 75%;
  max-width: 365px;
  -webkit-animation: fadeInDown 0.4s linear;
  animation: fadeInDown 0.4s linear;
}
@media only screen and (min-width: 50.625em) {
  .navbar--mid__form-wrapper {
    display: -webkit-flex;
    display: flex;
    position: static;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 0;
    width: unset;
    margin-right: 65px;
    -webkit-animation: none;
    animation: none;
  }
}
@media only screen and (min-width: 50.625em) {
  .navbar--mid__form-wrapper {
    width: 100%;
  }
  .navbar--mid__form-wrapper form {
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  .navbar--mid__form-wrapper {
    margin: auto;
  }
}
.navbar__toggle-bttn {
  display: block;
}
@media only screen and (min-width: 50.625em) {
  .navbar__toggle-bttn {
    display: none;
  }
}
@media only screen and (min-width: 50.625em) {
  .navbar__s-close-bttn {
    display: none;
  }
}
.navbar--right {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.navbar__icon-box, .navbar__profile-box {
  padding: 0.625em;
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
  position: relative;
}
.navbar__icon-box:hover, .navbar__profile-box:hover {
  background-color: #F6F6F6;
}
.navbar__icon-box {
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
}
.navbar__notif-icon, .navbar__mssg-icon {
  width: 20px;
}
.navbar__profile-box {
  -webkit-align-items: center;
  align-items: center;
  display: none;
}
@media only screen and (min-width: 53.1875em) {
  .navbar__profile-box {
    display: -webkit-flex;
    display: flex;
  }
}
.navbar__profile-box__name {
  font-size: 1.4rem;
  margin-right: 0.7142857143em;
  color: #0D0417;
}
.navbar__profile-box__icon {
  width: 18px;
}
.navbar__profile-dropdown {
  position: absolute;
  top: 46px;
  left: 0;
  background-color: white;
  width: 140px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 5px 0;
  display: none;
}
.navbar__profile-link {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px 0;
}
.navbar__profile-link:hover {
  background-color: #F6F6F6;
}
.navbar__profile-icon-box {
  width: 17px;
}
.navbar__icon-txt {
  color: #0D0417;
  font-size: 1.4rem;
  margin-left: 0.9375em;
}
.navbar__icon-ctr {
  background-color: #ff6f6f;
  color: white;
  font-size: 12px;
  border-radius: 100%;
  font-weight: 800;
  border: 2px solid white;
  position: absolute;
  top: -3px;
  right: -5px;
  height: 26px;
  width: 26px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.navbar .profile-box--active,
.navbar .notif-box--active {
  background-color: #F6F6F6;
}
.navbar .profile-box--active .navbar__profile-dropdown {
  display: block;
}
.navbar .notif-box--active .navbar__notif-item-wrapper {
  display: block;
}
.navbar .mssg-box--active .navbar__mssg-item-wrapper {
  display: block;
}
.navbar__notif-item-wrapper, .navbar__mssg-item-wrapper {
  display: none;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 410px;
  max-height: 405px;
  left: -50%;
  top: 55px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: default;
  padding-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}
.navbar__notif-wrapper, .navbar__mssg-wrapper {
  max-height: 400px;
  overflow: hidden;
  background-color: white;
}
.navbar__scrollbar, .navbar__mssg-scrollbar {
  height: 100%;
  background-color: white;
  padding: 15px 20px;
}
.navbar__notif-title, .navbar__mssg-title {
  text-transform: uppercase;
  font-size: 25px;
  margin: 15px 0;
}
.navbar__notif-option-box {
  margin: 30px 0;
}
.navbar__notif-option-item {
  color: #5a5a5a;
  border: 1px solid #eaeaea;
  padding: 3px 25px;
  border-radius: 17px;
  margin: 10px 3px;
  font-size: 13px;
}
.navbar__notif-option-item:hover {
  background-color: #eaeaea;
  cursor: pointer;
}
.navbar .notif--active,
.navbar .mssg-box--active {
  background-color: #eaeaea;
}
.navbar__notif-item, .navbar__mssg-item {
  margin: 10px 0;
  border-bottom: 1.5px solid #cccccc;
}
.navbar__notif-item-link, .navbar__mssg-item-link {
  padding: 10px;
  margin-bottom: 10px;
  -webkit-align-items: center;
  align-items: center;
}
.navbar__notif-item-link:hover, .navbar__mssg-item-link:hover {
  background-color: #dcf5ff;
}
.navbar__notif-item-container, .navbar__msg-item-container {
  margin-bottom: 30px;
}
.navbar__notif-illustration {
  border-radius: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 22px;
  min-width: 50px;
  height: 50px;
}
.navbar__notif-image-wrapper, .navbar__mssg-user-img-wrapper {
  display: block;
  margin-left: 2px;
}
.navbar__mssg-user-img {
  display: block;
}
.navbar__notif-user-img, .navbar__mssg-user-img {
  overflow: hidden;
  max-width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 22px;
}
.navbar__notif-user-img-wrapper, .navbar__mssg-user-img-wrapper {
  width: 100%;
  height: 100%;
}
.navbar__notif-description, .navbar__mssg-description {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.navbar__notif-info, .navbar__mssg-info {
  color: #0D0417;
  line-height: 1.5;
  font-size: 14px;
  width: 270px;
  overflow-wrap: break-word;
}
.navbar__notif-date, .navbar__mssg-date {
  margin-top: 8px;
  font-size: 12px;
  color: #756e6e;
}
.navbar .notif-unread,
.navbar .mssg-unread {
  background-color: #f0fbff;
  position: relative;
}
.navbar .notif-unread::before,
.navbar .mssg-unread::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #7ddaff;
  border-radius: 100%;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.navbar .notif-unread:hover,
.navbar .mssg-unread:hover {
  background-color: #dcf5ff;
}
.navbar__view-all {
  position: fixed;
  bottom: 0;
  background-color: #f1f1ff;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #3e00a0;
  font-weight: 700;
}
.navbar__view-all:hover {
  background-color: #e3e3f9;
}
.navbar__mssg-search-box {
  margin: 20px 10px;
}
.navbar__notif-span {
  color: #7F2AFF;
}
.navbar .notif-grade {
  background-color: #FFEFE9;
}
.navbar .notif-grade > span {
  width: 25px;
}
.navbar .notif-approved-request {
  background-color: #E2F7FF;
}
.navbar .notif-approved-request > span {
  width: 19px;
}
.navbar .notif-disccusion {
  background-color: #E2FFF5;
}
.navbar .notif-disccusion > span {
  width: 25px;
}
.navbar .notif-reviewer {
  background-color: #FFFAE1;
}
.navbar .notif-reviewer > span {
  width: 18px;
}
.navbar .notif-schedule {
  background-color: #FFE1F5;
}
.navbar .notif-schedule > span {
  width: 18px;
}
.navbar__shadow {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.bttn--hamburger {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  outline: none;
}
.bttn--hamburger__line {
  background-color: #6C7A89;
  width: 100%;
  height: 3px;
  display: block;
  border-radius: 5px;
}
.bttn--hamburger__line::before, .bttn--hamburger__line::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #6C7A89;
  width: 50%;
  border-radius: 5px;
}
.bttn--hamburger__line::before {
  top: 0;
  left: 0;
}
.bttn--hamburger__line::after {
  bottom: 0;
  right: 0;
}

.form--search {
  position: relative;
}
.form--search__input {
  background-color: #f9f9f9;
  border: none;
  color: #848484;
  padding: 10px;
  width: 100%;
  font-family: inherit;
}
.form--search__input::placeholder {
  color: #848484;
}
.form--search__input:hover {
  background-color: #f1f0f0;
}
.form--search__bttn, .form--search__bttn-toggle {
  height: 100%;
  position: absolute;
  width: 45px;
}
.form--search__bttn:hover, .form--search__bttn-toggle:hover {
  background-color: #f1f0f0;
}
.form--search__bttn {
  background-color: #f3f3f3;
  right: 0;
}

.toggle--active {
  background-color: #f1f0f0;
}

.form--secondary {
  position: relative;
}
.form--secondary__title {
  font-size: 20px;
  line-height: 1.5;
  text-transform: capitalize;
  margin-bottom: 60px;
  position: relative;
  color: #172239;
}
@media only screen and (min-width: 48em) {
  .form--secondary__title {
    font-size: 31.25px;
  }
}
.form--secondary__title::before {
  content: "";
  position: absolute;
  background-color: #172239;
  height: 5px;
  width: 30%;
  bottom: -10px;
  border-radius: 10px;
}
@media only screen and (min-width: 48em) {
  .form--secondary__title::before {
    width: 60%;
  }
}
.form--secondary__group {
  margin-bottom: 45px;
}
.form--secondary__group:last-of-type {
  margin-bottom: 0;
}
.form--secondary__group input,
.form--secondary__group textarea {
  margin-top: 12px;
  display: block;
  background-color: #ececec;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  font-family: inherit;
  color: #3a3a3a;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #d0d0d0;
}
.form--secondary__group input:focus,
.form--secondary__group textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(249, 0, 0, 0.22);
  background-color: #fff4f6;
  border-color: #fff4f6;
}
@media only screen and (min-width: 48em) {
  .form--secondary__group input,
.form--secondary__group textarea {
    width: 50%;
    font-size: 14px;
  }
}
.form--secondary__group textarea {
  resize: none;
  height: 145px;
}
@media only screen and (min-width: 48em) {
  .form--secondary__group textarea {
    width: 70%;
    max-width: 486px;
  }
}
.form--secondary__group [type=date]::-webkit-inner-spin-button {
  display: none;
}
.form--secondary__group select {
  background-color: #ececec;
  padding: 5px;
  font-family: inherit;
  color: #3a3a3a;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid #d0d0d0;
  cursor: pointer;
}
.form--secondary__group select:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(249, 0, 0, 0.22);
  background-color: #fff4f6;
  border-color: #fff4f6;
}
@media only screen and (min-width: 48em) {
  .form--secondary__group select {
    font-size: 16px;
  }
}
.form--secondary__schedule-wrapper {
  -webkit-flex-direction: column;
  flex-direction: column;
  border-bottom: 2px solid #9c9c9c;
  padding-bottom: 30px;
}
.form--secondary__schedule-wrapper:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}
@media only screen and (min-width: 48em) {
  .form--secondary__schedule-wrapper {
    -webkit-flex-direction: row;
    flex-direction: row;
    border: none;
    padding-bottom: 0;
  }
}
.form--secondary__bttn {
  background-color: #ff3e6c;
  margin: 40px auto 0 auto;
  color: white;
  font-family: inherit;
  text-transform: uppercase;
  padding: 13px 20px;
  border-radius: 7px;
  width: 80%;
  display: block;
  font-size: 14px;
  position: relative;
}
.form--secondary__bttn:hover {
  background-color: #f9285a;
}
.form--secondary__bttn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(249, 0, 0, 0.22);
}
@media only screen and (min-width: 48em) {
  .form--secondary__bttn {
    font-size: 16px;
  }
}
.form--secondary__schedule-bttn, .form--secondary__schedule-bttn--removed {
  margin: 35px auto 0 auto;
  font-family: inherit;
  text-transform: uppercase;
  padding: 8px 13px;
  border-radius: 7px;
  font-size: 14px;
}
.form--secondary__schedule-bttn:hover, .form--secondary__schedule-bttn--removed:hover {
  background-color: #f9285a;
}
.form--secondary__schedule-bttn:focus, .form--secondary__schedule-bttn--removed:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(249, 0, 0, 0.22);
}
.form--secondary__schedule-bttn {
  background-color: #ff3e6c;
  color: white;
  margin-right: 10px;
}
.form--secondary__schedule-bttn--removed {
  border: 2px solid #f9285a;
  color: #f9285a;
  margin-top: 10px;
  display: none;
}
.form--secondary__schedule-bttn--removed:hover {
  background-color: #f9285a;
  color: white;
}
.form--secondary__success-txt {
  color: #149044;
  background-color: #eefff5;
  display: none;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
}
.form--secondary__warning-txt {
  font-size: 16px;
  text-align: center;
  background-color: #ffe1e1;
  color: #ff5858;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto 40px auto;
  display: none;
  line-height: 1.5;
}
@media only screen and (min-width: 48em) {
  .form--secondary__warning-txt {
    width: 70%;
  }
}
.form--secondary__warning-code {
  color: #ff5858;
  font-size: 16px;
  margin-top: 18px;
  display: none;
}
.form--secondary__close-panel {
  position: absolute;
  right: 50px;
  top: 45px;
  font-size: 16px;
  font-family: inherit;
  text-decoration: underline;
  color: red;
  cursor: pointer;
  z-index: 10;
}

label {
  font-size: 15px;
  color: #4e4d4d;
}
@media only screen and (min-width: 48em) {
  label {
    font-size: 18px;
  }
}

.date--wrapper {
  margin-right: 25px;
}

.form--secondary__day-label {
  margin: 25px 0 10px 0;
  display: block;
  font-size: 14px;
}
@media only screen and (min-width: 48em) {
  .form--secondary__day-label {
    font-size: 16px;
  }
}

.time-wrapper input {
  background-color: #ececec;
  padding: 6px 10px;
  width: 100%;
  max-width: 220px;
  font-family: inherit;
  color: #3a3a3a;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid #d0d0d0;
  margin-top: 0;
}
.time-wrapper input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(249, 0, 0, 0.22);
  background-color: #fff4f6;
  border-color: #fff4f6;
}
@media only screen and (min-width: 64em) {
  .time-wrapper input {
    font-size: 16px;
  }
}

.bttn--changed-loc {
  margin: 50px auto 0 30px;
  display: block;
  background-color: inherit;
}

.class-note {
  font-size: 15px;
  margin: 12px 0;
  font-weight: 700;
  color: #9a9a9a;
  line-height: 1.5;
}
@media only screen and (min-width: 48em) {
  .class-note {
    width: 54%;
  }
}

.loading {
  background-color: #ffa7bc;
  cursor: not-allowed;
}
.loading:hover {
  background-color: #ffa7bc;
}
.loading .loader-wrapper {
  display: block;
}

.show-create-panel {
  display: none;
}

.bttn--show {
  display: block;
}

.classroom-settings {
  background-color: white;
  padding: 30px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}
.classroom-settings__schedule-title {
  color: #7F2AFF;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 40px;
}
.classroom-settings__schedule-title::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 16px;
  background-color: #f2e9ff;
  bottom: 10px;
  z-index: -1;
}
.classroom-settings__error-list {
  display: none;
  background-color: #ffeeee;
  color: #ff3a3a;
  padding: 20px 30px;
  margin-bottom: 25px;
}
.classroom-settings__error-list li {
  margin-bottom: 10px;
}
.classroom-settings__error-list li:last-of-type {
  margin-bottom: 0;
}
.classroom-settings__options {
  margin-top: 40px;
}
.classroom-settings__bttn-box {
  margin-top: 40px;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 48em) {
  .classroom-settings__bttn-box {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}
.classroom-settings__save-bttn, .classroom-settings__reset-bttn {
  font-family: inherit;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}
.classroom-settings__save-bttn {
  background-color: #7f2aff;
  color: white;
}
.classroom-settings__save-bttn:hover {
  background-color: #6418d8;
}
.classroom-settings__save-bttn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(127, 42, 255, 0.3);
}
.classroom-settings__reset-bttn {
  color: #ff3e6c;
  margin-bottom: 15px;
}
@media only screen and (min-width: 48em) {
  .classroom-settings__reset-bttn {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.classroom-settings__reset-bttn:hover {
  background-color: #ffedf1;
  color: #ff3e6c;
}
.classroom-settings__reset-bttn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 62, 108, 0.3);
}
.classroom-settings__schedule-bttn-controls {
  margin-top: 25px;
  -webkit-flex-display: column;
  flex-direction: column;
}
@media only screen and (min-width: 48em) {
  .classroom-settings__schedule-bttn-controls {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
.classroom-settings__bttn-add-sched {
  margin: 0 0 10px 0;
}
@media only screen and (min-width: 48em) {
  .classroom-settings__bttn-add-sched {
    margin: 0 12px 0 0;
  }
}
.classroom-settings__bttn-remove-sched {
  display: block;
  margin: 0;
}
.classroom-settings__loading-bttn {
  background-color: #a76ffd;
}
.classroom-settings__loading-bttn:hover {
  background-color: #a76ffd;
}
.classroom-settings__unable-txt {
  font-size: 16px;
  text-align: center;
  background-color: #ffe1e1;
  color: #ff5858;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  margin: 30px auto 35px auto;
  backface-visibility: hidden;
  display: none;
  line-height: 1.5;
}
@media only screen and (min-width: 48em) {
  .classroom-settings__unable-txt {
    width: 70%;
  }
}

.fixed-bg {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 999;
  -webkit-animation: fadeIn 0.3s backwards linear;
  animation: fadeIn 0.3s backwards linear;
}
.fixed-bg--active {
  display: block;
}

.sidebar--fixed {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: white;
  z-index: 998;
  left: 0;
  transition: width 0.3s ease-in-out;
  -webkit-animation: slideInLeft 0.3s 0.3s both linear;
  animation: slideInLeft 0.3s 0.3s both linear;
}
.sidebar--fixed .sidebar__extra {
  padding-bottom: 20px;
}
.sidebar--fixed .sidebar__bttn {
  background-color: #ff3e6c;
  margin: 1.25em auto;
  font-family: inherit;
  font-weight: 700;
  padding: 13px 11px;
  border-radius: 10px;
  color: white;
  max-width: 170px;
}
.sidebar--fixed .sidebar__bttn:hover {
  background-color: #f9285a;
}
.sidebar--fixed .sidebar__bttn-icon {
  margin-right: 0.9375em;
}
.sidebar--fixed .sidebar__bttn-txt {
  font-size: 14px;
}
.sidebar--fixed .sidebar__line {
  background-color: #cccccc;
  width: 90%;
  height: 2px;
  margin: 1.875em auto;
  border-radius: 10px;
}
.sidebar--fixed .sidebar__icon-wrapper {
  display: flex;
  height: 50px;
  padding-left: 1.875em;
  padding-right: 0.625em;
  -webkit-align-items: center;
  align-items: center;
  margin: 10px 0;
  position: relative;
}
.sidebar--fixed .sidebar__icon-wrapper:hover {
  background-color: #f8f4ff;
}
.sidebar--fixed .sidebar__icon path {
  fill: #172239;
}
.sidebar--fixed .sidebar__icon-stroke path,
.sidebar--fixed .sidebar__icon-stroke line {
  stroke: #172239;
}
.sidebar--fixed .sidebar__icon-txt {
  color: #172239;
  font-size: 1.6rem;
  margin-left: 1.5625em;
}
.sidebar--fixed .sidebar--active {
  background-color: #f8f4ff;
}
.sidebar--fixed .sidebar--active .sidebar__icon path {
  fill: #7F2AFF;
}
.sidebar--fixed .sidebar--active .sidebar__icon-stroke path,
.sidebar--fixed .sidebar--active .sidebar__icon-stroke line {
  stroke: #7F2AFF;
}
.sidebar--fixed .sidebar--active .sidebar__icon-txt {
  color: #7F2AFF;
}
.sidebar--fixed .sidebar--active:hover {
  background-color: #f8f4ff;
}
.sidebar--fixed .sidebar--active::before {
  content: "";
  background-color: #7F2AFF;
  width: 4px;
  height: 90%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.sidebar--fixed .sidebar__top {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 1.5625em;
  margin-bottom: 1.5625em;
}

.schedule {
  background-color: white;
  padding: 15px 25px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}
.schedule__form-group {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 25px;
}
.schedule__form-group:last-of-type {
  margin-bottom: 0;
}
.schedule__line {
  position: absolute;
  width: 100%;
  height: 13px;
  background-color: #7F2AFF;
  top: 0;
  left: 0;
}
.schedule__title {
  margin: 35px 0;
  position: relative;
  z-index: 1;
  color: #7F2AFF;
}
.schedule__title::before {
  content: "";
  position: absolute;
  width: 185px;
  height: 12px;
  background-color: #f0e5ff;
  z-index: -1;
  bottom: 8px;
}
.schedule__default-sched, .schedule__lbl {
  color: #031463;
}
.schedule__lbl {
  margin-right: 5px;
  font-size: 18px;
}
.schedule__form-wrap {
  margin-top: 15px;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.schedule__default-sched {
  margin-bottom: 10px;
  margin-left: 25px;
}
.schedule__default-sched:last-of-type {
  margin-bottom: 0;
}
.schedule__inactive-wrapper {
  -webkit-align-items: center;
  align-items: center;
  margin-top: 45px;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #ffe5e5;
  padding: 15px 0;
  border-radius: 13px;
}
.schedule__inactive-img {
  width: 10px;
}
.schedule__inactive-txt {
  margin-left: 13px;
  font-size: 18px;
  color: #ff4747;
}

.bttn--schedule {
  margin: 30px 0 30px auto;
  display: block;
  font-size: 12px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  background-color: #7f2aff;
  color: white;
  border-radius: 10px;
}
.bttn--schedule:hover {
  background-color: #6312dc;
}
.bttn--schedule:focus {
  outline: none;
}
@media only screen and (min-width: 48em) {
  .bttn--schedule {
    font-size: 14px;
    padding: 13px 20px;
    position: sticky;
    top: 100px;
    z-index: 10;
  }
}

.classroom {
  margin-top: 120px;
}
.classroom__right {
  margin-top: 20px;
}
@media only screen and (min-width: 48em) {
  .classroom__right {
    margin-left: 35px;
    margin-top: 15px;
  }
}
.classroom__link-wrapper {
  overflow: hidden;
  padding-bottom: 10px;
}
@media only screen and (min-width: 48em) {
  .classroom__link-wrapper {
    padding-bottom: 0;
  }
}
.classroom__links-container {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media only screen and (min-width: 48em) {
  .classroom__links-container {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: unset;
    justify-content: unset;
  }
}
.classroom__links-item {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  text-align: center;
  font-size: 14px;
  margin-right: 10px;
}
@media only screen and (min-width: 48em) {
  .classroom__links-item {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
}
.classroom__links {
  padding: 10px 5px;
  display: block;
  font-weight: 700;
  margin: 10px 0;
  color: #535353;
  position: relative;
}
@media only screen and (min-width: 48em) {
  .classroom__links {
    padding-left: 12px;
  }
}
.classroom__links:hover {
  background-color: #e7e7ff;
  color: #6328f1;
}

.link--active {
  background-color: #e7e7ff;
  color: #6328f1;
}
.link--active::before {
  content: "";
  position: absolute;
  background-color: #7F2AFF;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
}
@media only screen and (min-width: 48em) {
  .link--active::before {
    height: 100%;
    width: 5px;
  }
}

.img-fluid {
  width: 100%;
}

.img-fluid-h {
  height: 100%;
}

.adjust-img-js {
  width: auto;
  height: auto;
}

.scrollbar {
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.animation-jelly {
  -webkit-animation: jelly 1s linear both;
  animation: jelly 1s linear both;
}

.animation-jelly-out {
  -webkit-animation: jellyOut 1s linear both;
  animation: jellyOut 1s linear both;
}

/*# sourceMappingURL=classroom.schedule.style.css.map */
