.sidebar
    position: fixed
    width: 200px
    height: 100%
    background-color: white
    padding-top: 85 / $default-font-size * 1em
    z-index: 998
    left: 0
    overflow: hidden
    transition: width .3s ease-in-out
    display: none
    @include brk_lrg
        display: block
    &__bttn
        @extend %display_flex
        -webkit-align-items: center
        align-items: center
        background-color: $color-primary-hover
        margin: 20 / 16 * 1em auto
        font-size: 16 / $root-font-size * 1rem
        font-family: inherit
        font-weight: 700
        padding: 10/ 16 * 1em  20 / 16 * 1em
        border-radius: 10px
        color: white
        &:hover
            background-color: $color-primary
        &-icon
            margin-right: 15 / $default-font-size * 1em
            @extend %display_flex
            -webkit-align-items: center
            align-items: center
    &__line
        background-color: $navbar-line-color
        width: 90%
        height: 2px
        margin: 30px auto
        border-radius: 10px
    &__icon-wrapper
        display: flex
        height: 50px
        padding-left: 40px
        padding-right: 10px
        -webkit-align-items: center
        align-items: center
        margin: 10px 0
        &:hover
            background-color: $color-primary-xlighter
    &__icon
        path
            fill: $txt-primary
    &__icon-txt
        color: $txt-primary
        font-size: 16px
        margin-left: 25px
        @extend %font-extrabold
    &--active
        background-color: #270044
        .sidebar__icon
            path
                fill: white
        .sidebar__icon-txt
            color: white
        &:hover
            background-color: #270044
.scrollbar
    z-index: 999
    height: 100%
