.bttn--primary
    background-color: $color-primary
    text-transform: capitalize
    @extend %font-bold
    text-transform: uppercase
    color: white
    font-size: 18 / $root-font-size * 1rem
    padding: 10 / 18 * 1em 20 / 18 * 1em
    border-radius: 5px
    display: block
    width: 165px
    text-align: center
    &:focus
        box-shadow: 0 0 0 3px rgba(126, 40, 255, .2)
        outline: none
    &:hover
        background-color: $color-primary-hover
    @include brk_lrg
        font-size: 20 / $root-font-size * 1rem
        width: 185px
        padding-top: 10 / 20 * 1em
        padding-bottom: 10 / 20 * 1em
    @include brk_xlrg
        font-size: 22 / $root-font-size * 1rem
    &--ghost
        border: 1px solid $color-primary
        color: $color-primary
        text-transform: uppercase
        @extend %font-bold
        padding: 5 / 18 * 1em 15 / 18 * 1em
        &:hover
            background-color: $color-primary
            color: white
        @include brk_lrg
            font-size: 20 / 18 * 1rem
        @include brk_xlrg
            font-size: 22 / 18 * 1rem

    &--small
        background-color: $color-primary
        @extend %font-bold
        text-transform: uppercase
        color: white
        font-size: 12 / $root-font-size * 1rem
        padding: 15 / 18 * 1em 20 / 18 * 1em
        border-radius: 5px
        display: block
        text-align: center
        font-family: inherit
        &:hover
            background-color: $color-primary-hover
        &:focus
            box-shadow: 0 0 0 3px rgba(126, 40, 255, .2)
        @include brk_md
            font-size: 14 / $root-font-size * 1rem
