body {
  font-weight: 400;
}

.error-right {
  display: -webkit-flex;
  display: flex;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #190033;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

html,
body {
  min-width: 100%;
  overflow-x: hidden;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  40% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.container {
  width: 100%;
  max-width: 600px;
}
@media only screen and (min-width: 20em) {
  .container {
    width: 90.625%;
    margin: auto;
  }
}
@media only screen and (min-width: 48em) {
  .container {
    width: 88.28125%;
    max-width: 1100px;
  }
}
@media only screen and (min-width: 64em) {
  .container {
    width: 90.8203125%;
  }
}
@media only screen and (min-width: 90em) {
  .container {
    width: 77.0833333333%;
    max-width: 1440px;
  }
}
.container .row {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
@media only screen and (min-width: 48em) {
  .container .col-md-1 {
    width: 12.9793510324%;
  }
  .container .col-md-2 {
    width: 30.383480826%;
  }
  .container .col-md-3 {
    width: 47.7876106195%;
  }
  .container .col-md-4 {
    width: 65.191740413%;
  }
  .container .col-md-5 {
    width: 82.5958702065%;
  }
  .container .col-md-6 {
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  .container .col-lrg-1 {
    width: 5.376344086%;
  }
  .container .col-lrg-2 {
    width: 13.9784946237%;
  }
  .container .col-lrg-3 {
    width: 22.5806451613%;
  }
  .container .col-lrg-4 {
    width: 31.1827956989%;
  }
  .container .col-lrg-5 {
    width: 39.7849462366%;
  }
  .container .col-lrg-6 {
    width: 48.3870967742%;
  }
  .container .col-lrg-7 {
    width: 56.9892473118%;
  }
  .container .col-lrg-8 {
    width: 65.5913978495%;
  }
  .container .col-lrg-9 {
    width: 74.1935483871%;
  }
  .container .col-lrg-10 {
    width: 82.7956989247%;
  }
  .container .col-lrg-11 {
    width: 91.3978494624%;
  }
  .container .col-lrg-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 90em) {
  .container .col-xlrg-1 {
    width: 5.8558558559%;
  }
  .container .col-xlrg-2 {
    width: 14.4144144144%;
  }
  .container .col-xlrg-3 {
    width: 22.972972973%;
  }
  .container .col-xlrg-4 {
    width: 31.5315315315%;
  }
  .container .col-xlrg-5 {
    width: 40.0900900901%;
  }
  .container .col-xlrg-6 {
    width: 48.6486486486%;
  }
  .container .col-xlrg-7 {
    width: 57.2072072072%;
  }
  .container .col-xlrg-8 {
    width: 65.7657657658%;
  }
  .container .col-xlrg-9 {
    width: 74.3243243243%;
  }
  .container .col-xlrg-10 {
    width: 82.8828828829%;
  }
  .container .col-xlrg-11 {
    width: 91.4414414414%;
  }
  .container .col-xlrg-12 {
    width: 100%;
  }
}

.container-fluid .row {
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.container-fluid .col-sm-1 {
  -webkit-flex-basis: 8.3333333333%;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}
.container-fluid .col-sm-2 {
  -webkit-flex-basis: 16.6666666667%;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}
.container-fluid .col-sm-3 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.container-fluid .col-sm-4 {
  -webkit-flex-basis: 33.3333333333%;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}
.container-fluid .col-sm-5 {
  -webkit-flex-basis: 41.6666666667%;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}
.container-fluid .col-sm-6 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.container-fluid .col-sm-7 {
  -webkit-flex-basis: 58.3333333333%;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}
.container-fluid .col-sm-8 {
  -webkit-flex-basis: 66.6666666667%;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}
.container-fluid .col-sm-9 {
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.container-fluid .col-sm-10 {
  -webkit-flex-basis: 83.3333333333%;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}
.container-fluid .col-sm-11 {
  -webkit-flex-basis: 91.6666666667%;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}
.container-fluid .col-sm-12 {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
@media only screen and (min-width: 48em) {
  .container-fluid [class^=col-md-] {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
  .container-fluid .col-md-1 {
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .container-fluid .col-md-2 {
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .container-fluid .col-md-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .container-fluid .col-md-4 {
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .container-fluid .col-md-5 {
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .container-fluid .col-md-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .container-fluid .col-md-7 {
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .container-fluid .col-md-8 {
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .container-fluid .col-md-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .container-fluid .col-md-10 {
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .container-fluid .col-md-11 {
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .container-fluid .col-md-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  .container-fluid [class^=col-lrg-] {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
  .container-fluid .col-lrg-1 {
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .container-fluid .col-lrg-2 {
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .container-fluid .col-lrg-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .container-fluid .col-lrg-4 {
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .container-fluid .col-lrg-5 {
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .container-fluid .col-lrg-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .container-fluid .col-lrg-7 {
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .container-fluid .col-lrg-8 {
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .container-fluid .col-lrg-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .container-fluid .col-lrg-10 {
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .container-fluid .col-lrg-11 {
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .container-fluid .col-lrg-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 90em) {
  .container-fluid [class^=col-xlrg-] {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
  .container-fluid .col-xlrg-1 {
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .container-fluid .col-xlrg-2 {
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .container-fluid .col-xlrg-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .container-fluid .col-xlrg-4 {
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .container-fluid .col-xlrg-5 {
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .container-fluid .col-xlrg-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .container-fluid .col-xlrg-7 {
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .container-fluid .col-xlrg-8 {
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .container-fluid .col-xlrg-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .container-fluid .col-xlrg-10 {
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .container-fluid .col-xlrg-11 {
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .container-fluid .col-xlrg-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

.container--main {
  position: relative;
  margin: auto;
  width: 90%;
  padding: 0.1px;
}
@media only screen and (min-width: 64em) {
  .container--main {
    max-width: 1250px;
  }
}
.container--main::before {
  content: "";
  display: block;
  clear: both;
}

.wrapper__sign-up {
  width: 90%;
  max-width: 625px;
  margin: 4.6875em auto 2.1875em auto;
}
.wrapper__sign-up .line {
  width: 80%;
  margin: 1.5625em auto;
}
.wrapper__sign-up__learn-more-txt {
  margin-bottom: 1.25em;
}

html,
body,
main,
.error-img,
svg {
  height: 100vh;
}

svg {
  width: 100%;
}

main {
  display: -webkit-flex;
  display: flex;
}

.error-img {
  flex-grow: 2;
  display: none;
}
@media only screen and (min-width: 48em) {
  .error-img {
    display: block;
  }
}

.error-right {
  flex-grow: 1;
}

.human {
  -webkit-animation: floating 15s both linear infinite;
  animation: floating 15s both linear infinite;
}

.background_n2 .st3 {
  -webkit-animation: floating 8s both linear infinite;
  animation: floating 8s both linear infinite;
}

.background_n2 .st2 {
  -webkit-animation: floating 5s both linear infinite;
  animation: floating 5s both linear infinite;
}

.cat {
  -webkit-animation: floating 10s both linear infinite;
  animation: floating 10s both linear infinite;
}

.error-right {
  background-color: #150505;
  color: white;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

h1 {
  color: #ec615b;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 25px;
}
@media only screen and (min-width: 64em) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 800;
}
@media only screen and (min-width: 64em) {
  h2 {
    font-size: 40px;
  }
}

a {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
a::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 50%;
  background-color: #ec615b;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleY(0.2);
  -ms-transform: translate(-50%, -50%) scaleY(0.2);
  transform: translate(-50%, -50%) scaleY(0.2);
  bottom: -115%;
  z-index: -1;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  transition: transform 0.3s linear;
}
a:hover::before {
  -webkit-transform: translate(-50%, -50%) scaleY(5.5);
  -ms-transform: translate(-50%, -50%) scaleY(5.5);
  transform: translate(-50%, -50%) scaleY(5.5);
}

.img-fluid {
  width: 100%;
}

.img-fluid-h {
  height: 100%;
}

.adjust-img-js {
  width: auto;
  height: auto;
}

/*# sourceMappingURL=404.style.css.map */
