%position_rel
    position: relative
    color: $form-color
.form--primary
    margin: auto
    max-width: 450px
    @include brk_lrg
        width: 80%
        max-width: 1100px
    &__main-container
        @include brk_lrg
            margin-top: 70 / $default-font-size * 1em
    //LAYOUT
    &__group
        padding-bottom: 30 / $default-font-size * 1em
    &__group,
    &__group--radio
        @extend %position_rel

    &__group--radio-box
        @extend %display_flex
        margin-bottom: 25 / $default-font-size * 1em
    //2 Column Layout
    &__2-col
        @include brk_lrg
            display: -webkit-flex
            display: flex
    &__lrg--left,
    &__lrg--right
        @include brk_lrg
            -webkit-flex-basis: 50%
            flex: 50%
    &__lrg--left
        @include brk_lrg
            margin-right: 60 / $default-font-size * 1em

    &__group
        //Checkbox
        &--check
            margin-top: 10 / $default-font-size * 1em
            @extend %display_flex
            align-items: center
            @extend %position_rel
            input[type="checkbox"]
                opacity: 0
            label
                margin-left: 7 / $default-font-size * 1em
                user-select: none
                cursor: pointer
                &:hover
                    color: $color-primary
                &::before
                    content: ''
                    width: 20px
                    height: 20px
                    position: absolute
                    border-radius: 5px
                &::before
                    background-color: $form-border
                    border: 2px solid $form-border-darker
                    transform: translateY(-50%)
                    top: 50%
                    left: 0
            input[type="checkbox"]:checked
                + label
                    color: $color-primary-light
            input[type="checkbox"]:checked
                + label::before
                    border: 2px solid $color-primary-light
                    background-color: $color-primary-xlighter
            input[type="checkbox"]:checked
                ~ .form--primary__check-icon
                    fill: $color-primary-light
                    opacity: 1

        //Radio Button
        &--radio
            @extend %display_flex
            margin-bottom: 18 / $default-font-size * 1em
            margin-right: 15 / $default-font-size * 1em
            &:last-of-type
                label::after
                    left: 4.4px
            input[type="radio"]
                visibility: hidden
            label
                font-size: 18 / $root-font-size * 1rem
                margin-left: 5 / 18 * 1em
                cursor: pointer
                user-select: none
                &::before,
                &::after
                    content: ''
                    position: absolute
                    border-radius: 100%
                    top: 50%
                    @include transform(translateY(-50%))
                &::before
                    border: 2px solid $form-color
                    width: 18px
                    height: 18px
                    left: 0
                &::after
                    background-color: white
                    width: 9.5px
                    height: 9.5px
                    left: 3.6%

            input[type="radio"]:checked
                + label
                    color: $color-primary
                + label::before
                    border-color: $color-primary
                + label::after
                    background-color: $color-primary
                    @include animation(rubberBand .5s ease-in-out)
    &__check-icon
        position: absolute
        left: 4px
        top: 45%
        @include transform(translateY(-50%))
        opacity: 0
    input::placeholder
        color: $form-darker

    &__n-lbl,
    &__bttn,
    &__choice-bttn,
    &__sub-bttn,
    &__sub-bttn--r
        @extend %font-semibold
    &__r-lbl,
    &__forgot-pw
        @extend %font-bold

    input[type='email'],
    input[type='text'],
    input[type='password'],
    &__bttn,
    &__choice-bttn
        background-color: $form-bg
        border: 2px solid $form-border
        padding: 10 / $default-font-size * 1em 15 / $default-font-size * 1em
        font-size: 16 / $root-font-size * 1rem
        color: $form-color

    &__n-lbl
        margin-bottom: 13 / $default-font-size * 1em
        display: block
        font-size: 18 / $root-font-size * 1rem

    &__forgot-pw
        position: absolute
        right: 0
        bottom: 10px
        color: $color-primary-darker
        &:hover,
        &:active
            color: $color-primary
    //BUTTONS
    &__bttn,
    &__choice-bttn
        color: white
        background-color: $primary-bttn-color
        font-size: 18 / $root-font-size * 1rem
        padding: 10 / $default-font-size * 1em 25 / $default-font-size * 1em
        display: block
        border-radius: 10px
        &:hover
            background-color: $primary-bttn-color-light
    &__bttn
        width: 90%
        margin: 40 / $default-font-size * 1em auto
    &__choice-bttn
        width: 80%
        margin: auto
        @include brk_lrg
            max-width: 700px

    &__sub-bttn,
    &__sub-bttn--r
        padding: 10px 15px
        margin-top: 10px
        color: $color-primary-dark
        background-color: $color-primary-xlighter
        &:hover
            background-color: $color-primary-xlighter-h
    &__sub-bttn--r
        position: absolute
        bottom: -8px
        right: 0

    &__bttn,
    &__sub-bttn,
    &__sub-bttn--r,
    &__choice-bttn
        text-transform: uppercase
        cursor: pointer
        border: none
        @extend %font-semibold
        &:focus
            outline: none
            box-shadow: 0 0 0 4px $color-primary-outline
    //INPUT TAGS
    input[type='email'],
    input[type='text'],
    input[type='password']
        border-radius: 8px
        width: 100%
        margin-bottom: 10 / $default-font-size * 1em
        &:focus
            outline: transparent
            border: 2px solid $color-primary-light
            background-color: $color-primary-xlighter
            color: $color-primary-dark
            &::placeholder
                color: $color-primary-dark
            + .form--primary__icon-user path,
            + .form--primary__icon-pw path
                    fill: $color-primary
        &:hover
            background-color: $form-bg-hover
    //ICONS
    &__icon-user,
    &__icon-pw
        position: absolute
        right: 10px
        path
            fill: $form-color
    &__icon-user
        top: 47%
        @include transform(translateY(-50%))
    &__icon-pw
        top: 48%
        @include transform(translateY(-50%))
        cursor: pointer
    //HEADING
    &__heading
        font-size: 18px
        margin-bottom: 15 / 18 * 1em
        font-weight: 600
    //SUB TEXTS
    &__note
        &--optional,
        &--required
            position: absolute
            right: 0
            top: 0
            text-transform: uppercase
            padding: 7 / $default-font-size * 1em 12 / $default-font-size * 1em
            @include transform(translateY(-25%))
            border-radius: 5px
            @extend %font-semibold
        &--optional
            color: $color-secondary
            background-color: $color-secondary-light
        &--required
            color: $color-warning
            background-color: $color-warning-bg
        &--tip
            margin-top: 13 / $root-font-size * 1em
            display: block
            color: $color-primary-dark
            @extend %font-semibold
        &--error,
        &--error_c
            display: none
            color: $color-warning
            line-height: 1.5
    &__title
        text-transform: uppercase
        margin-bottom: 60px
        text-align: center
        position: relative
        font-size: 31.25 / $root-font-size * 1rem
        @extend %font-bold
        &::before
            content: ''
            width: 350px
            height: 70%
            background-color: $color-primary-xlighter
            z-index: -1
            position: absolute
            bottom: -5px
            left: 50%
            @include transform(translateX(-50%))
    //VALIDATION STYLES
    input[class*="form-error"]
        background-color: $color-warning-bg
        border-color: $color-warning
        &:hover
            background-color: $color-warning-bg-h
        &:focus
            background-color: $color-primary-xlighter

.form--hidden
    display: none
.form--hidden--active
    display: block

